*{margin: 0; padding: 0;}
ul, li{list-style: none;}
a{text-decoration: none;}
img{display: block;}
body,h1,h3,h4,h5,a,p,span{
    font-family: 'Noto Sans KR', sans-serif;
}

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR');

/*초기화*/

@media all and (min-width:1200px){
    
    body{
        width: 100%;
        position: relative;
    }
    section{
        width: 100%;
        height: 100vh;
        background-color: gray;
        overflow: hidden;
    }
    
/*    open*/
    
    #open{
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        overflow:hidden;
    }
    #open_logo{
        width: 100%;
        height: 100vh;
        background-color: #191919;
    }

    #open_logo>p{
        position: absolute;
        top: 500px;
        left: 100px;
        color: white;
        font-size: 80px;
        opacity: 0;
    }

    #open_logo>p:nth-child(2){
        top: 200px;
        left: 1000px;
        font-size: 150px;
    }
    #open_logo>p:nth-child(3){
        top: 600px;
        left: 500px;
        font-size: 160px;
    }
    
    #open_logo>p:nth-child(4){
        top: 850px;
        left: 900px;
    }
    #open_logo>p:nth-child(5){
        top: 400px;
        left: 1100px;
    }
    #open_logo>p:nth-child(6){
        top: 20px;
        left: 200px;
        font-size: 120px;
    }
    #open_logo>p:nth-child(7){
        top: 150px;
        left: 1550px;
    }
    #open_logo>p:nth-child(8){
        top: 300px;
        left: 400px;
    }
    #open_logo>p:nth-child(9){
        top: 800px;
        left: 1500px;
        font-size: 100px;
    }
    .open_bg{
        width: 100%;
        height:100vh;
        position: absolute;
        top: 0;
        left: 0;
    }

    
/*    open*/
/*    side btn*/
    #side_btn{
        position: fixed;
        top: 0;
        right: 0;
        width: 100px;
        height: 100vh;
        z-index: 50;
    }
    #top_btn{
        width: 100px;
        height: 100px;
        top: 5vh;
        right: 5vh;
        z-index: 50;
        position: relative;
    }
    #top_btn>img{
        position: absolute;
        width: 100%;
    }
    #menu_logo{
        opacity: 0;
    }
    #menu_img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100px;
        height: 100px;
    }
    #menu_img>img{
        width: 100%;
        opacity: 0;
    }
    #bot_btn{
        width: 100px;
        height: 100px;
        background-color: #111;
        border-radius: 75px;
        position: absolute;
        bottom: 5vh;
        right: 5vh;
        z-index: 50;
    }
    #bot_btn p{
        color: #f9c730;
        font-size: 30px;
        letter-spacing: -5px;
        text-align: center;
        line-height: 100px;
    }
    
/*    side btn*/
/*    menu*/
    
    #in_menu{
        width: 100%;
        height: 100vh;
        background-color: #191919;
        position: fixed;
        top: -100vh;
        left: 0;
        z-index: 66;
    }
    #close_btn{
        width: 100px;
        height: 100px;
        position: absolute;
        top: 5vh;
        right: 5vh;
        
    }
    #close_btn>img{
        width: 100%;
    }
    .menu_box{
        width: 0;
        height: 50vh;
        float: left;
        margin-top: 200px;
        overflow: hidden;
        opacity: 0;
    }
    #menu_left{
        margin-left: 30vw;
    }

    #line{
        width: 10px;
        height: 0;
        float: left;
        background-color: #f9c730;
        margin-right: 150px;
        margin-top: 120px;
    }
    
    #in_menu p{
        font-size: 50px;
        font-weight: 900;
        letter-spacing: -1px;
        color: white;
        margin-bottom: 30px;
    }
    .menu_box a{
        color: white;
    }
    
/*    menu*/
    
    #sec_1{
        background-image: url(../img/1.bg.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    #in_wrap_1{
        position: relative;
    }
    #sec_1_txt{
        position: absolute;
        top: 40vh;
        left: 23%;
    }
    #table_txt{
        display: none;
    }
/*  sec 1 end  */
    
    #sec_2{
        background-image: url(../img/2_bg.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    #in_wrap_2{
        width: 100%;
        height: 688px;
        top: 13vh;
        position: relative;
    }
    .con_box{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 688px;
        box-shadow: 10px 30px 40px #333; 
        background-size: cover;
        background-repeat: no-repeat;
            
    }
    #con_box_1{
        background-image: url(../img/2.1.png);
    }
    #con_box_2{
        background-image: url(../img/2.2.png);
    }
    #con_box_3{
        background-image: url(../img/2.3.png);
    }
    #con_box_4{
        background-image: url(../img/2.4.png);
    }
    .con_txt{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 40vh;
        text-align: center;
        letter-spacing: -1px;
    }
    .con_txt>h3{
        width: 1000px;
        font-weight: 400;
        float: left;
        color: #bdbdbd;
        font-size: 40px;
    }
    .con_txt>h1{
        width: 500px;
        float: left;
        text-align: right;
        color: white;
        letter-spacing: -1px;
        font-size: 50px;
    }
    #con_txt_4{
        height: 30vh;
    }
    #con_txt_4>h3{
        width: 600px;
        text-align: center;
        padding-right: 600px;
    }
/*    sec 2 end*/

    #sec_3{
        width: 100%;
        height: 100vh;
        background-color: gray;
        overflow: hidden;
        position: relative;
    }
    #table_bg{
        display: none;
    }
    #mask{
        display: none;
    }
    .bg_3{
        width: 35%;
        height: 100vh;
        position: absolute;
        top: 0;
        background-color: rgba(0, 0, 0, 0.4);
    }
    #bg_left{
        left: 0;
    }
    #bg_right{
        right: 0;
    }

    #btn_box{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 111;
        display: none;
    }

    #in_wrap_3{
        width: 1440px;
        height: 100vh;
        position: relative;
        top: 00px;
        left: 12.5%;
        overflow: hidden;
    }

    #move_wrap{
        width: 3200px;
        height: 60vh;
        position: absolute;
        top: 300px;
        left: 0;
    }
    .albem{
        width: 480px;
        height: 60vh;
        position: relative;
        float: left;
        transition-duration: 1s;
    }
    .albem>img{
        width: 320px;
        height: 320px;
        margin: 0 auto 20px;
    }
    .txt_box{
        width: 320px;
        margin: 0 auto;
        color: white;
        letter-spacing: -1px;
        text-align: center;
    }
    .txt_box>h3{
        font-size: 15px;
        font-weight: 300;
    }
    .txt_box>h1{
        font-size: 20px;
        font-weight: 700;
    }


    #albem_2{
        transform: scale(1.5)
    }

    
/*    sec 3 end*/
    
    #sec_4{
        background-repeat: no-repeat;
        background-size: cover;
    }
    #in_wrap_4{
        position: relative;
        
    }
    #con_4_1{
        position: absolute;
        top: 0;
        left: 0;
        background-image: url(../img/4_1.png);
        width: 100%;
        height: 100vh;
    }
    #con_4_2{
        position: absolute;
        top: 0;
        left: 0;
        background-image: url(../img/4_2.png);
        width: 100%;
        height: 100vh;
    }
    #txt_box_4_1{
        margin: 100px;
        letter-spacing: -1px;
    }
    .txt_box_4>h1{
        font-size: 100px;
        font-weight: 900;
        letter-spacing: 5px;
    }
    .txt_box_4>h3{
        font-size: 40px;
        font-weight: 300;
    }
    .txt_box_4>h4{
        font-size: 25px;
        font-weight: 300;
        color: white;
    }
    #txt_box_4_2{
        color: white;
        padding: 650px 0 0 50px;
    }
    
/*    sec 4 end*/
    #sec_5{
        background-image: url(../img/5_bg.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
    #txt_box_5{
        width: 100%;
        padding-top: 300px;
        float: left;
    }
    #txt_box_5>h1{
        font-size: 60px;
        color: white;
        float: left;
        padding-top: 100px;
        padding-left: 150px;
    }
    #txt_box_5>h3{
        font-size: 30px;
        letter-spacing: -2px;
        font-weight: 900;
        float: left;
        padding-top: 130px;
        margin-left: 550px;
    }
    #txt_box_5>img{
        width: 200px;
        float: left;
        margin: 50px 0 0 100px;
    }
    #table_logo{
        display: none;
    }
    
/*    sec 5 end*/
    
    footer{
        width: 100%;
        height: 455px;
        background-color: #e3e3e3;
    }
    #fo_txt{
        padding: 100px;
        letter-spacing: -1px;
    }
    #fo_left{
        width: 70%;
        font-size: 13px;
        float: left;
        color: #6f6f6f;
    }
    #fo_left>h1{
        width: 50%;
        float: left;
        line-height: 35px;
    }
    #in_right{
        padding-left: 6%;
        width: 40%;
        float: left;
    }
    #in_right>h3{
        padding-bottom: 20px;
    }
    #fo_right{
        height: 200px;
        font-size: 8px;
        color: #2c2c2c;
    }
    #sns_box{
        float: left;
        margin-top: 10px;
        width: 300px;
    }
    .sns_box{
        width: 50px;
        height: 50px;
        border: 2px solid #6f6f6f;
        border-radius: 50px;
        text-align: center;
        line-height: 50px;
        font-size: 20px;
        float: left;
        margin-right: 10px;
    }
    .sns_box>p{
        color: #6f6f6f;
    }
    #fo_bot{
        font-size: 9px;
        color: #2c2c2c;
    }
    
} /*end*/





















